html{
	height: 100%;
}
body {
	background-image: url("topo.png");
	height: 100%;
}
nav {
	background-color: #fff;
	border-bottom: 1px solid grey;
}
section {
	background-color: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
}
#title{
	color: #4aaaa5;
	padding-left: 20px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}
#logo{
	font-weight: bold;
	font-size: 35px;
	padding-bottom: 5px;
}
aside {
	background-color: #fff;
	margin-top: 50px;
	padding-bottom: 50px;
}
.navbar {
	padding: 0px;
	margin: 0px;
}
.navbar-header {
	background-color: #4aaaa5;
	height: 90px;
}
.navbar-header h1 {
	color : #fff;
	font-family: "Times New Roman", Times, serif;
	font-size: 26px;
	height: 90px;
}
.nav-item {
	padding: 5px 15px;
	float: right;
}
.navbar-nav li {
	padding-top: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #777;
}
h1{
	padding-top: 10px;
}
.profile{
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
}
.navbar-nav a{
	color: #777;
	border-right: 1px solid lightgrey;
	padding-right: 30px;
}
.navbar-nav a:hover {
	text-decoration: none;
	color: #4aaaa5;
}
.contact {
	padding-bottom: 15px;
	width: 100%;
}
.contact input[type="submit"] {
	border: none;
	background-color: #4aaaa5;
	color: #fff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	padding: 10px 5px;
	width: 120px;
	margin-top: 15px;
}
h2, h3{
	color: #4aaaa5;
	font-family: 'Georgia', "Times New Roman", Times, serif;
	font-size: 28px;
	padding-bottom: 20px;
	margin-bottom: 25px;
	border-bottom: solid 2px #CCC;
}
h3{
	font-size: 22px;
}
footer {
	clear: both;
	background-color: #666;
	font-family: 'Georgia', "Times New Roman", Times, serif;
	color: #CCC;
	border-top: solid 5px #4aaaa5;
	padding-top: 25px;
}
form{
	padding: 20px;
}
.btn{
	background-color: #4aaaa5;
	color: white;
	text-decoration: none;
}
.image-container {
	width: 50%;
	float: left;
	position: relative;
	z-index: 1;
}
.gallery {
	padding-bottom: 30px;
}
.gallery img {
	width: 100%;
	height: auto;
	z-index: 1;
}
#bio{
	padding-top: 25px;
	float: 
}
.gall {
	width: 100%;
	height: 50px;
	background-color: #4aaaa5;
	margin-top: -80px;
	position: relative;
	z-index: 10;
}
.gall h4 {
	color: #fff;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 22px;
	text-align: center;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}
.footer{
    height: 90px;
}
.footer .container p {
	margin-top: 10px;
}
.ga {
	clear: both;
	margin-top: 30px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
	.navbar-header {
	  margin-left: -15px;
	  width: 105%;
	}
	.v-align {
		margin-top: 0px;
	}
	section {
		padding: 20px;
		margin: 10px 15px;
	}
	aside {
		padding: 20px;
		margin: 10px 15px;
	}
	.contact {
		padding-bottom: 0px;
	}
}

@media only screen and (max-width: 980px){
	h2 {
		padding-top: 25px;
	}
	section {
		padding-bottom: 25px;
	}
	h3 {
		padding-top: 25px;
	}
	.gallery {
		margin: 20px 10px;
	}
	.asideMargin {
		margin: 15px 10px;
	
}
